body{
    background-color: #9DC08B;
    font-family: Verdana,Tahoma, sans-serif;
}
h1{

    color: #1C315E;
    font-family: cursive;
    font-size: 90px;
}
hr{
    background-color: white;
    border-style:n one;
    height: 5px;
    width: 1500px;}
.profile{
    float: right;
        border-radius:100%;
        width: 100%;
        margin-left: 30px;
    
    }